nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 4rem;

}

.app__navbar-logo {
    font-size: 2rem;
}

.app__navbar-logo span {
    background: var(--gradient-text);
    /* -webkit-background-clip: text; */
    color: transparent;
    background-clip: text;

}

.app__navbar-links {
    display: flex;
    gap: 1.5rem;
}

.app__navbar-link-item {
    text-transform: capitalize;
    color: #fff;
    font-family: var(--font-body);
    transition: .3s ease-in-out;
}

.app__navbar-link-item:hover {
    background: var(--gradient-text);
    /* -webkit-background-clip: text; */
    color: transparent;
    background-clip: text;

}

.nav-cta {
    background-color: var(--card-bg);
    font-size: 17px;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

.starter-btn {
    font-family: var(--font-body);
    color: #f8f8f8;
}

.btn:hover .starter-btn {
    color: #0a0f1a;
}

.app__navbar-menu {
    cursor: pointer;
    display: none;
}

.app__navbar-menu div {
    height: 3px;
    width: 20px;
    background-color: white;
    margin-bottom: 4px;
    border-radius: 8px;
}

.app__navbar-menu:hover div {
    background: var(--gradient-text);
    
}

.app__navbar-smallscreen-nav {
    position: absolute;
    height: 100vh;
    width: 70%;
    background-color: #0a0f1a;
    top: 0;
    right: 0;
    transform: translateX(100%);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);

    padding: 2rem;
    opacity: 0;
    pointer-events: none;
    transition: transform .3s ease, opacity 0.3s ease;
    z-index: 10;

}

.app__navbar-smallscreen-nav::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    backdrop-filter: blur(10px);
    z-index: -1;
  }
  



.app__navbar-smallscreen-nav.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;

}

.app__close-icon {
    position: absolute;
    top: 35px;
    right: 30px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.app__close-icon:hover {
    scale: 1.1;
    
}

.smallscreen-nav {
    margin-top: 4rem;
}

.smallscreen-nav a {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 17px;
    text-transform: capitalize;
    color: #fff;
}



@media screen  and (max-width: 830px) {
    .app__navbar-links, .nav-cta {
        display: none;
    }

    .app__navbar-menu {
        display: block;
    }
}